* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1536152470836-b943b246224c?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY5ODU0MzQ4Nw&ixlib=rb-4.0.3&q=80&w=1600);
}

.container {
  width: 95%;
  max-width: 450px;
  background: #000000;
  opacity: 0.8;
  border-radius: 25px;
  padding: 20px;
}

.cidade {
  border: none;
  outline: 0;
  padding: 10px;
  border-radius: 25px;
  font-size: 20px;
  background-color: #7c7c7c2b;
  color: #ffffff;
  width: calc(100% - 100px);
}

button {
  border: none;
  outline: 0;
  padding: 10px;
  border-radius: 50px;
  background: #7c7c7c2b;
  cursor: pointer;
  float: right;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transition: 0.3s ease-in-out;
}

#img-busca {
  width: 20px;
}

#midbox {
  margin-top: 10px;
}

#title {
  font-size: 30px;
  font-weight: 500;
}

#temp {
  margin-top: 10px;
}

#ltbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#text-preview {
  margin-left: 20px;
}

#umidade {
  margin-top: 20px;
}
